.container {
    display: block;
    min-height: calc(100vh - 60px - 40px - 60px);
    margin-top: 100px;
    width: 64%;
    margin: 0 auto;
   // padding-top: 60px;
    text-align: center;
  }
  
 .card {
    margin: 5%;
  }

  .product{
    display: inline-block;
  }
  